<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor
                       patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
                       type="SC2021KF.Feature.XRobotsTag.Pipelines, SC2021KF.Feature.XRobotsTag" />
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>
