<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <uiUpload>
                <processor
                      patch:after="processor[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']"
                      type="SCHackaton2021KraftvaerkFinland.Feature.MediaHandler.Pipelines, SCHackaton2021KraftvaerkFinland.Feature.MediaHandler" />
            </uiUpload>
        </pipelines>
    </sitecore>
</configuration>